<!DOCTYPE html>
<html>
  <head>
    <title>ManageApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
    <nav>
      <% if user_signed_in? %>
      <%= link_to "トップ", pages_show_path %>
      <%= link_to "在庫管理リスト", manages_path %>
      <%= link_to "在庫登録フォーム", new_manage_path %>
      <%= link_to 'プロフィール', edit_user_registration_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'サインアップ', new_user_registration_path %>
      <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
      </nav>
   </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
